@import url("overlay.css");
@import url("properties.css");
@import url("skills.css");
@import url("items.css");
@import url("events.css");
@import url("pdata.css");


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

label {
    width: 120px;
    font-weight: bold;
}

h1 {
    text-align: center;
}

#header {
	position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
	z-index: 10;
}

#addEventButton, #addSkillButton, #addItemButton {
	display: block;
	width: 95%;
	margin: 0px auto;
	padding: 12px 20px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	background-color: #007bff;
	border: none;
	border-radius: 6px;
	transition: background-color 0.2s;
}

#addEventButton:hover, #addSkillButton:hover, #addItemButton:hover {
	background-color: #0056b3;
}

#addEventButton:active, #addSkillButton:active, #addItemButton:active {
	background-color: #003d80;
}

#pageContainer {
	padding: 20px;
}

.header-item {
	margin: 0px 5px;
}

.page {
	position: relative;
    width: 210mm;
    height: 297mm;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    page-break-after: always;
}

.page-collapsed {
	height: 60px;
	overflow: scroll;
	overflow-x: hidden;
}

.page-button {
	position: sticky;
	
	left: -20px;
	top: 0px;
	margin-left: -20px;
	
	width: 24px;
	height: 24px;
	color: #ffffff;
	
	border: 2px dotted #ccc;
	border-left: none;
	border-radius: 0px 10px 10px 0px;
	
	display:flex;
	justify-content: center;
    align-items: center;
	
	cursor: pointer;
	
	padding-bottom: 1px;
	padding-right: 1px;
}

/* Save */
.save-box {
    width: 100%;
}
.image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	
	padding: 4px;
	border-radius: 8px;
}

.image-input {
	display: flex;
	width: 100%;
	height: 190px;
	max-height: 190px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #ccc;
	border-radius: 30px;
}

.image-input img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	display: block;
	margin: auto;
	
	border-radius: 16px;
}



@media print {
	#header {
		display: none;
	}
	
	#addEventButton, #addSkillButton, #addItemButton {
		display: none;
	}
	
	.page-collapsed {
		height: 297mm;
		overflow: visible;
	}
	
	.page-button {
		display: none;
	}
}