.table {
    display: table;
    width: 98%;
    margin: 20px auto;
    border-spacing: 5px;
}

.row {
    display: table-row;
    width: auto;
    clear: both;
}

.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell {
    float: left;
    display: table-column;
    width: 16%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    background-color: #fbfbfb;
    background-color: #f6f6f6;
    border: 1px solid #666666;
    border-radius: 5px;
    padding: 2mm;
}

.cell-2 {
    width: 32.5%
}

.cell-3 {
    width: 49%
}

.cell-4 {
    width: 65.5%
}

.cell-5 {
    width: 82%
}

.cell-6 {
    width: 98.5%
}
